MARIADB_DATABASE=oao
MARIADB_USER=oao
MARIADB_PASSWORD=change-me
MARIADB_ROOT_PASSWORD=change-root-me

KAKAO_CLIENT_ID=change-me
KAKAO_CLIENT_SECRET=change-me
KAKAO_REDIRECT_URI=https://api.oao365.com/login/oauth2/code/kakao
OAUTH_SUCCESS_REDIRECT_URL=https://www.oao365.com/oauth/success
CORS_ALLOWED_ORIGINS=https://oao365.com,https://www.oao365.com

AWS_SES_REGION=ap-northeast-2
EMAIL_FROM=LoveCatcher <hello@oao365.com>

APP_FRONTEND_URL=https://www.oao365.com
TOSS_PAYMENTS_CLIENT_KEY=
TOSS_PAYMENTS_SECRET_KEY=
ALIMTALK_ENABLED=false
ALIMTALK_PF_ID=
ALIMTALK_MATCH_TEMPLATE_ID=
ALIMTALK_EXPRESS_TEMPLATE_ID=
ALIMTALK_COMPLETED_TEMPLATE_ID=
OAO_ADMIN_BOOTSTRAP_EMAIL=
OAO_ADMIN_BOOTSTRAP_PASSWORD=
OAO_ADMIN_BOOTSTRAP_NAME=관리자

VERIFICATION_MESSAGE_PROVIDER=solapi-sms
SOLAPI_API_KEY=change-me
SOLAPI_API_SECRET=change-me
SOLAPI_FROM_NUMBER=01000000000
